body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);



}

main {
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}
.container {
    width: 1200px !important;
    background-color: #FFFFFF;
}

a{
    color: #888;
}
a:hover{
    color: #78C2AD;
    text-decoration: none;
}

.text-small {
    font-size: 14px !important;
}
